aside {
    background-color: rgba(18, 200, 164, $glass-opacity);
    text-align: center;
    flex-grow: 0;

    @media screen and (max-width: $mobile-breakpoint) {
        display: block;
        width: unset;
    }

    .aside-title {
        font-size: 1.25rem;
        margin-top: 2rem;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        margin: 0.5rem 0rem;
        padding: 0;
        li {
            background-color: rgba(255, 255, 255, $glass-opacity);
            margin-bottom: .75rem;
            padding: 0.5rem; 
            border-radius: 1rem;
        }
    }

}
